@import "../../variables.scss";

.cart-item {
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    margin: 2rem 0;
    // background-color: $lightColor;

    .cart-item-image-container {
        width: 35%;
        display: flex;
        align-items: center;

        img {
            width: 100%;
        }
    }

    .item-details {
        width: 60%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        padding: 0.5rem;
        font-size: 0.85rem;

        span {
            padding: 0.5rem 0;
        }

        // .name {
        //     font-size: 16px;
        // }
    }
}
