@import "../../variables.scss";

.home-page {
    height: 100vh;

    .home-poster {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: linear-gradient($darkColor 0%, transparent 50%, $darkColor 100%),
            url(../../assets/img/cam01.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        opacity: 0.8;

        .home-poster-message {
            height: 70%;
            width: 80%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 2rem;
            background-color: $darkColor;
            color: white;
            opacity: 0.7;
            @media only screen and (min-width: $breakMedium) {
                width: 70%;
            }

            .home-poster-title {
                margin: 1.5rem 0;
                text-align: center;
                font-size: 2rem;
                font-weight: 300;
                letter-spacing: 0.1rem;
                @media only screen and (min-width: $breakMedium) {
                    margin: 2rem 0;
                    font-size: 3rem;
                }
            }
        }
    }
}
