@import "../../../variables.scss";

.cart-status {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0;
    @media only screen and (min-width: $breakMedium) {
        padding: 0 1rem;
    }

    .cart-items {
        margin: -1rem 0 0 -1rem;
        padding: 0 0.3rem;
        border-radius: 50%;
        background-color: $accentColor;
        color: $lightColor;
        font-size: 0.8rem;
        font-weight: 400;
        display: inline-block;
    }
}
