@import "../../variables.scss";

.custom-button {
    width: auto;
    height: 2.5rem;
    justify-self: center;
    display: flex;
    justify-content: center;
    min-width: 7rem;
    border: none;
    margin: 1rem 1rem 2rem;
    padding: 0 1rem;
    background-color: $darkColor;
    color: $lightColor;
    font-size: 0.8rem;
    font-weight: 300;
    line-height: 2.5rem;
    letter-spacing: 0.1rem;
    cursor: pointer;
    @media (min-width: $breakMedium) {
        font-size: 1rem;
        min-width: 13rem;
    }

    &:hover {
        background-color: $accentColor;
        color: $lightColor;
        font-weight: 400;
    }

    &.inverted {
        border: 1px solid $darkColor;
        background-color: $lightColor;
        color: $darkColor;

        &:hover {
            border: none;
            background-color: $accentColor;
            color: $lightColor;
            font-weight: 400;
        }
    }
}
