* {
    box-sizing: border-box;
}

:root {
    --darkColor: #rgb(36, 42, 53);
    --overlayColor: rgba(36, 42, 53, 0.6);
    --lightColor: rgba(230, 231, 234, 1);
    --breakSmall: 360px;
    --breakMedium: 750px;
    --breakLarge: 1200px;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

a {
    text-decoration: none;
    color: black;
}
