$darkColor: rgb(35, 40, 55);
$darkColorOverlay-1: rgba(35, 40, 55, 0.7);
$lightColor: rgba(230, 230, 235, 1);
$lightColorOverlay-1: rgba(230, 230, 235, 0.7);
$lightColorOverlay-2: rgba(230, 230, 235, 0.3);
$accentColor: rgb(235, 30, 35);
$accentColorOverlay-1: rgba(235, 30, 35, 0.7);
$accentColorOverlay-2: rgba(235, 30, 35, 0.3);

$breakSmall: 360px;
$breakMedium: 780px;
$breakLarge: 1200px;
$breakHuge: 1800px;
