$darkColor: rgb(35, 40, 55);
$darkColorOverlay-1: rgba(35, 40, 55, 0.75);
$darkColorOverlay-2: rgba(35, 40, 55, 0.5);
$darkColorOverlay-3: rgba(35, 40, 55, 0.25);
$darkColorOverlay-4: rgba(35, 40, 55, 0.05);
$lightColor: rgba(230, 230, 235, 1);
$lightColorOverlay-1: rgba(230, 230, 235, 0.75);
$lightColorOverlay-2: rgba(230, 230, 235, 0.5);
$lightColorOverlay-3: rgba(230, 230, 235, 0.25);
$lightColorOverlay-4: rgba(230, 230, 235, 0.05);
$accentColor: rgb(235, 30, 35);
$accentColorOverlay-1: rgba(235, 30, 35, 0.75);
$accentColorOverlay-2: rgba(235, 30, 35, 0.5);
$accentColorOverlay-3: rgba(235, 30, 35, 0.25);
$accentColorOverlay-4: rgba(235, 30, 35, 0.05);

$breakSmall: 360px;
$breakMedium: 780px;
$breakLarge: 1200px;
$breakHuge: 1800px;
